<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Phase 2 Project- LearnerAcademy</display-name>
  <welcome-file-list>
    <welcome-file>adminlogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.servlets.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.servlets.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.servlets.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>TeacherVal</display-name>
    <filter-name>TeacherVal</filter-name>
    <filter-class>com.filters.TeacherVal</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherVal</filter-name>
    <servlet-name>AddTeacher</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>com.servlets.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SubjectVal</display-name>
    <filter-name>SubjectVal</filter-name>
    <filter-class>com.filters.SubjectVal</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SubjectVal</filter-name>
    <servlet-name>AddSubject</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSubject</display-name>
    <servlet-name>AssignSubject</servlet-name>
    <servlet-class>com.servlets.AssignSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubject</servlet-name>
    <url-pattern>/AssignSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.servlets.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentVal</display-name>
    <filter-name>StudentVal</filter-name>
    <filter-class>com.filters.StudentVal</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentVal</filter-name>
    <servlet-name>AddStudent</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddClass</display-name>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>com.servlets.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ClassVal</display-name>
    <filter-name>ClassVal</filter-name>
    <filter-class>com.filters.ClassVal</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClassVal</filter-name>
    <servlet-name>AddClass</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>AssignSubVal</display-name>
    <filter-name>AssignSubVal</filter-name>
    <filter-class>com.filters.AssignSubVal</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AssignSubVal</filter-name>
    <servlet-name>AssignSubject</servlet-name>
  </filter-mapping>
</web-app>